<template>
    <div id="hello">
            <h1>
                About Page
            </h1>
        <div>
            <h1><router-link to="/contact">To contact</router-link></h1>
        </div>
    </div>
</template>

<script>
export default{

}
</script>

<style>

</style>
