<template>
    <div id="hello">
            <h1>
                Contact
            </h1>
        <div>
            <h1><router-link to="/home">To Homepage</router-link></h1>
        </div>
    </div>
</template>

<script>
export default{

}
</script>

<style>

</style>
